@font-face {
  font-family: "Iceland";
  src: url("/fonts/Iceland/Iceland-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aquire";
  src: url("/fonts/AquireBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("/fonts/Play/Play-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
